In [38]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [39]:
df = pd.read_csv('S:/end to end ds project/notebook/data/insurance.csv')
# df = pd.read_csv('S:\\end to end ds project\\notebook\\data\\insurance.csv')
df

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

# prepairing X and Y variable

In [40]:
X =df.drop(columns=['expenses'],axis=1)

In [41]:
X.head()

   age     sex   bmi  children smoker     region
0   19  female  27.9         0    yes  southwest
1   18    male  33.8         1     no  southeast
2   28    male  33.0         3     no  southeast
3   33    male  22.7         0     no  northwest
4   32    male  28.9         0     no  northwest

In [42]:
Y=df['expenses']

In [43]:
Y.head()

0    16884.92
1     1725.55
2     4449.46
3    21984.47
4     3866.86
Name: expenses, dtype: float64

In [44]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [45]:
# create column Transformer with 3 types of tranformer

num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer


numeric_transformer = StandardScaler()
oh_transfarmer =OneHotEncoder()


preprocessor = ColumnTransformer(
    [
        
        ("OneHotEncoder",oh_transfarmer,cat_features),
        ("StandardScaler",numeric_transformer, num_features)
        
    ]
)

In [46]:
X = preprocessor.fit_transform(X)

In [49]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)
X_test.shape, X_train

((268, 11),
 array([[ 1.        ,  0.        ,  1.        , ...,  0.48366788,
         -1.7495556 ,  0.75107928],
        [ 1.        ,  0.        ,  1.        , ...,  0.55486907,
         -1.04418692, -0.90861367],
        [ 1.        ,  0.        ,  1.        , ...,  0.91087502,
         -0.94576338, -0.90861367],
        ...,
        [ 0.        ,  1.        ,  1.        , ...,  1.33808216,
         -0.89655161, -0.90861367],
        [ 1.        ,  0.        ,  0.        , ..., -0.15714284,
          2.77792707,  0.75107928],
        [ 0.        ,  1.        ,  1.        , ...,  1.12447859,
         -0.12556725, -0.90861367]]))

In [51]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square =r2_score(true ,predicted)
    return mae, mse, rmse, r2_square

In [53]:
models = {
    "Linear Regression": LinearRegressor(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(),
    "CatBoostine REgressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}

NameError: name 'LinearRegressor' is not defined

model_list= [] 
r2_list=[]


for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, Y_train) #model train


    #make prediction
    Y_train_pred = model.predict(X_train)
    Y_test_pred =model.predict(X_test)


    #evaluate train and datasets
    model_train_mae ,model_train_rmse, model_train_r2 =evaluate_model(Y_train Y_train_pred)
    model_test_mae ,model_test_rmse, model_test_r2 =evaluate_model(Y_test 
    Y_test_pred)

In [ ]:
print(list(model.keys())[i])
model_list.append(list(models.keys())[i])


print('Model performance for Training set')
print("-Root Maen Squared Error: {:.4f} ".format(model_train_rmse))
print("Mean Absolute Error: {:.4f}".format(model_train_mae))
print("- R2 Score: {:.4f}".format(model_train_r2))

print('-------------------------------')

print('Model performance for Test set')
print("-Root Maen Squared Error:{:.4f}".format(model_test_rmse))
print("Mean Absolute Error:{:.4f}".format(model_test_mae))
print("- R2 Score: {:.4f}".format(model_test_r2))
r2_list.append(model_test_r2)
print('=*35')
print('\n') 
# print(f"Mean Absolute Error (MAE): {mae:.4f}")
# print(f"Mean Squared Error (MSE): {mse:.4f}")
# print(f"Root Mean Squared Error (RMSE): {rmse:.4f}")
# print(f"R-squared Score (R2): {r2_square:.4f}")